.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 100vh;
    position: relative;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.a-left {
    gap: 2rem;

    > img {
        width: 4rem;
        height: 4rem;
    }
}

.Webname {
    > h1 {
        font-size: 3rem;
        background-color: red;
        background-image: var(--buttonBg);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    > h6 {
        font-size: 0.85rem;
    }
}

.infoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    > div {
        display: flex;
        gap: 1rem;
        height: 2rem;
        width: 90%;
    }
}

.authForm {
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;

    > div {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

.infoInput {
    border: none;
    outline: none;
    background: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}
